<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconecontrolevds"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Controle_de_vendas"
        tools:targetApi="31">
        <activity
            android:name=".MainCliente.ListaClientes"
            android:exported="false" />
        <activity
            android:name=".MainDespesas.ListaDespesasDescricaoEntreDatas"
            android:exported="false" />
        <activity
            android:name=".MainDespesas.ListaDespesaDescricaoEntreDatas"
            android:exported="false" />
        <activity
            android:name=".MainDespesas.ListaDespesasPorData"
            android:exported="false" />
        <activity
            android:name=".MainDespesas.ListaDespesas"
            android:exported="false" />
        <activity
            android:name=".MainDespesas.DespesasMain"
            android:exported="false" />
        <activity
            android:name=".MainCliente.Clientes"
            android:exported="false" />
        <activity
            android:name=".TelaPrincipal"
            android:exported="false" />
        <activity
            android:name=".MainInvestimentos.ListaEntreDatasProduto"
            android:exported="false" />
        <activity
            android:name=".MainInvestimentos.Investimentos"
            android:exported="false" />
        <activity
            android:name=".MainInvestimentos.ListaPorDataProduto"
            android:exported="false" />
        <activity
            android:name=".MainInvestimentos.ListaEntreDatas"
            android:exported="false" />
        <activity
            android:name=".MainInvestimentos.ListaPorProduto"
            android:exported="false" />
        <activity
            android:name=".MainInvestimentos.ListaPorData"
            android:exported="false" />
        <activity
            android:name=".MainInvestimentos.MainActivity"
            android:exported="false" />
        <activity
            android:name=".LogoDoApp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>